<<<<<<< HEAD
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
=======

.containerSlide {
    width: 1100px;
    margin: auto;
}

.containerSlide img {
    height: 500px;
    width: 1100px;
}
>>>>>>> 218b338d7ed1c52bff7242849d37b3f49e9c8fb9
